<!-- templates/otp-email-template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company}} Onboarding</title>
</head>
<body>
    <h1>Welcome to Our Service!</h1>
    <p>You have been invited to join  {{ company }} worksace</p>
    <p> Please click the invite like to complete your onboarding process. If you didn't register, please ignore this email.</p>
    <a href="{{inviteUrl}}">{{linkText}}</a>
 
    <p>Best regards,</p>
    <p>The Team</p>
</body>
</html>
